body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/*Comentário CSS*/

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* IDs */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */

h2 {
    border-bottom: 2px solid red;
}

.class {
    border-bottom: 3px solid blue;
}

#id {
    border-bottom: 4px solid green;
}

/* Nome de cores */

.color-name {
    color:tomato;
}

/* Hex */

.hex {
    color: #55a398;
}

.hex-2 {
    color: #88e433
}

/* Aprofundando em HEX */
.simple-hex {
    color: #333; /*#333333*/
}

.simple-hex-2 {
    color: #a5f; /*#aa55ff*/
}

/* RGB */

.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(238, 111, 6);
}

/* RGBa */
.rgba {
    color: rgba(54, 98, 243, 0.2);
}

/* HSL */

.hsl {
    color: hsl(347, 96%, 45%);
}

.hsl-2 {
    color: hsl(302, 100%, 75%);
}

/* Background color */

.bg {
    background-color: #000;
}

.bg2 {
    background-color: rgb(147, 87, 50);
    color: #ffffff;
}

/* Background opacity */
.bg-opacity p{
    background-color: #20241c;
    opacity: 0.3;
    color: #25ff25
}

.bg-opacity-2 p{
    background-color: #00c3ff;
    opacity: 0.8;
    color: #ff9100
}

/* RGBa com opacidade */
.rgba-opacity {
    background-color: rgba(65, 134, 76, 0.6);
    color: blue;
}

/* BG image */
.bg-image {
    background-image: url(../Imagens/img1.jpg);
    padding: 70px;
    color: white;
}